.easy-player {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;

  :deep(.easyplayer-loading .easyplayer-loading-img),
  :deep(.easyplayer-controls),
  :deep(.easyplayer-contextmenu-btn) {
    display: none !important;
  }
}
